.delete-event-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-event-modal h1 {
  margin: .5rem 0;
}

.delete-event-modal h4 {
  text-align: center;
  margin: .25rem;
}

.delete-event-modal button {
  width: 100%;
  padding: .5rem;
  margin: .3rem;
  cursor: pointer;
}

#event-delete-yes-btn {
  color: white;
  background-color: #E76F51;
  box-shadow: 3px 3px black;
}

#event-delete-no-btn {
  color: white;
  background-color: gray;
  box-shadow: 3px 3px black;
}