.group-list-page {
  margin: auto;
  width: 60%;
}

.page-links {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-links .active {
  color: #2A9D8F;
  text-decoration: underline;
  pointer-events: none;
}

.page-links a {
  font-size: x-large;
  padding-right: 1.5rem;
}

.group-list {
  padding-left: 0;
}

.group-list li {
  border-top: 2px solid lightgray;
  padding: 1rem 0;
}

.group-list-item {
  display: flex;
}

.group-list-image-div {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.group-list-image {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
}

.group-list-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 455px;
  flex-grow: 1;
  max-height: 200px;
}

.group-list-info h2 {
  margin: 0;
}

.group-list-info h4 {
  color: lightgray;
  margin: .5rem 0;
}