.event-form {
  width: 50%;
  margin: 0 auto;
}

.event-form div {
  border-top: 1px solid lightgray;
  margin-top: 1rem;
}

.event-form input,
.event-form select,
.event-form textarea
{
  border: 2px solid black;
  /* background-color: rgba(42, 157, 143, .2); */
  background-color: #dde8ea;
  box-sizing: border-box;
  padding: .25rem;
}

.event-form p {
  margin: 0.5rem 0;
}

.event-form .errors {
  margin: 0;
}

.event-form button {
  background-color: #E76F51;
  box-shadow: 3px 3px black;
  color: white;
  font-size: large;
  padding: .5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

#event-top-div {
  border: none;
}

#event-input-name,
#event-input-imageUrl {
  width: 20rem;
}

#event-div-price {
  border: 2px solid black;
  background-color: #dde8ea;
  width: fit-content;
  padding-left: 5px;
  width: 89px;
  margin: 0;
}

#event-input-capacity {
  width: 98px;
}

#event-input-price {
  border: none;
  width: 75px
}

#event-input-price:focus {
  outline: none;
}

#event-input-description {
  width: 30rem;
}