.group-list-item-lowest-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.group-events-type-container {
  display: flex;
}

.group-management-btns-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 1rem;
}

.group-management-btns-container button {
  color: white;
  background-color: gray;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  cursor: pointer;
  display: flex;
}

#unjoin-btn {
  color: white;
  background-color: lightgray;
  cursor: pointer;
}

