#back-to-events {
  color: #2A9D8F;
  text-decoration: underline;
  padding-left: 5px;
}

.event-heading {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}

h4 {
  color: gray;
  font-weight: 100;
}

.event-section {
  background-color: rgb(236, 236, 236);
}

.event-detail {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
}

.event-img {
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.event-img img {
  width: 525px;
  height: 350px;
  object-fit: contain;
}

.event-stats-section {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-group-card {
  background-color: white;
  display: flex;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 1rem;
} 

.event-group-image img{
  height: 133px;
  width: 200px;
  object-fit: contain;
}

.event-group-info {
  padding-left: 1rem;
}

.event-stats {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.event-stats > div {
  margin: .5rem 0;
}

.event-stats span,
.event-stats i {
  color: grey;
}

.event-stats i {
  font-size: larger;
}

.icon-div {
  width: 1.5rem;
}

.event-stats p {
  color: #2A9D8F;
  margin: 0;
}

.times {
  display: flex;
  align-items: center;
  width: 100%;
}

.times-headers {
  margin-left: 1rem;
}

.event-stats-stats {
  margin-left: 1rem;
}

.event-price {
  display: flex;
  align-items: center;
  width: 100%;
}

.event-price-stat {
  margin-left: 1rem;
}

.event-type {
  display: flex;
  align-items: center;
  width: 100%;
}

.event-type-stat {
  margin-left: 1rem;
}

.event-details-user-buttons {
  margin-left: auto;
}

.event-type button {
  color: white;
  background-color: gray;
  margin: 0 .5rem;
  cursor: pointer;
}

.event-description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
}